@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}
body {
    background-color: black;
}
a {
    color: red;
    text-decoration: none;
}
